:root {
    --mainColor: #1B3043;
    --subColor: #ffd875;
    --whiteColor: #eeeeee;
    --grayColor: #c9c9c9;
}

html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}

body,
html {
    background-color: var(--whiteColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3em 0 1em;
}

p,
ul,
ol {
    margin-bottom: 2em;
    color: #1d1d1d;
    font-family: sans-serif;
}

main {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
    box-sizing: border-box;
}

input,
select {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

@font-face {
    font-family: 'moonFontLight';
    src: url(Kiwi_Maru/KiwiMaru-Light.ttf);
}

@font-face {
    font-family: 'moonFontMedium';
    src: url(Kiwi_Maru/KiwiMaru-Medium.ttf);
}

@font-face {
    font-family: 'moonFontRegular';
    src: url(Kiwi_Maru/KiwiMaru-Regular.ttf);
}


* {
    font-family: moonFontMedium;
}

.browser_title {
    text-align: center;
}

.search_words_box {
    width: 100%;
    border: none;
    border: 2px solid var(--grayColor);
    font-size: 15px;
    padding: 10px;
    border-radius: 30px;
    transition: 0.3s;
}

.search_words_box:hover,
.search_words_box:focus {
    border-radius: 10px;
    transition: 0.3s;
}

.search_words_box:focus {
    border: 2px solid var(--mainColor);
}

.browser_title {
    color: var(--mainColor);
}

.searchBtn {
    border: none;
    background-color: var(--mainColor);
    color: var(--subColor);
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.searchBtn:hover {
    border-radius: 10px;
    transition: 0.3s;
}

.searchBtn:active {
    background-color: var(--subColor);
    color: var(--mainColor);
}

.flexBtnBox {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}