:root {
    --mainColor: #1B3043;
    --darkMoonColor: #335270;
    --subColor: #ffd875;
    --whiteColor: #eeeeee;
    --blackColor: #272727;
    --grayColor: #c9c9c9;
}

html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}

body,
html {
    background-color: var(--whiteColor);
}

svg {
    width: 50%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3em 0 1em;
}

p,
ul,
ol {
    margin-bottom: 2em;
    color: #1d1d1d;
    font-family: sans-serif;
}

main {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
    box-sizing: border-box;
}

input,
select {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

@font-face {
    font-family: 'moonFontLight';
    src: url(Kiwi_Maru/KiwiMaru-Light.ttf);
}

@font-face {
    font-family: 'moonFontMedium';
    src: url(Kiwi_Maru/KiwiMaru-Medium.ttf);
}

@font-face {
    font-family: 'moonFontRegular';
    src: url(Kiwi_Maru/KiwiMaru-Regular.ttf);
}


* {
    font-family: moonFontMedium;
}

.browser_title {
    text-align: center;
}

.search_words_box {
    width: 100%;
    border: none;
    border: 2px solid var(--grayColor);
    font-size: 15px;
    padding: 10px;
    height: 53px;
    border-radius: 30px;
    transition: 0.3s;
}

.search_words_box:hover,
.search_words_box:focus {
    border-radius: 10px;
    transition: 0.3s;
}

.search_words_box:focus {
    border: 2px solid var(--mainColor);
}

.browser_title {
    color: var(--mainColor);
}

.searchBtn {
    border: none;
    background-color: var(--mainColor);
    color: var(--subColor);
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    transition: 0.2s;
}

.searchBtn:active {
    border-radius: 10px;
    transition: 0.2s;
}

.searchBtn:hover {
    background-color: var(--subColor);
    color: var(--mainColor);
}

.flexBtnBox {
    margin: 20px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

@media (prefers-color-scheme: dark) {
    body,
    html {
        background-color: var(--blackColor);
    }
    #text {
        fill: var(--whiteColor);
    }
    #darkMoon {
        fill: var(--darkMoonColor);
    }
    .searchBtn {
        background-color: var(--darkMoonColor);
        color: var(--subColor);
    }
    .searchBtn:active {
        background-color: var(--subColor);
        color: var(--darkMoonColor);
    }
    .search_words_box {
        background-color: #404040;
        border: 2px solid #5f5f5f;
        color: var(--grayColor);
    }
    .search_words_box:focus {
        border: 2px solid var(--darkMoonColor);
    }
}